/* Image helpers */

.u-flush-start {
  margin-left: -15px;
}

.u-flush-end {
  margin-right: -15px;
}

.u-circle {
  border-radius: 50%;
}

.u-circle-shadowed {
  box-shadow: 0 2px 3px rgba(0,0,0,.25);
}

.u-img-end,
.u-img-start {
  text-align: center;
}

/* Responsive image helpers  */

@media (min-width: 1050px) {
  .u-img-end {
    float: right;
    margin-left: 30px;
  }

  .u-img-start {
    float: left;
    margin-right: 30px;
  }
}

/* Text helpers */

.u-text-center {
  text-align: center;
}

.u-text-h6 {
  font-size: 13px;
}

/* Space helpers */

.u-margin-Vl {
  margin-top: 27px;
  margin-bottom: 27px;
}

.u-margin-Bl {
  margin-bottom: 27px;
}
