.archive__table
  margin 10px 0
  width 100%

  td
    padding 20px 4px

  tr:nth-of-type(even)
    background rgb(249, 249, 249)

.archive__date-title
.archive__date-value
  text-align right


@media (min-width: 800px)

  .archive__table
    td
      padding 2px 4px
