.upcoming-events
  padding 0 10px 0

.upcoming-event__date,
.upcoming-event__location,
.upcoming-event__info
  display inline-block

.upcoming-event__date
  min-width 140px
  text-align right
.upcoming-event__location,
.upcoming-event__date
  padding-right 10px