.header {
  padding-left: 0;
  padding-right: 0;
}

.header__blog {
  padding: 0 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.header__blog__logo {
  margin-bottom: 15px;
}

.header {
  display: none;
}

.footer {
  display: block;
  margin-top: -35px;
}

.header .stripe {
  height: 200px;
  background-color: #8c3939;
}

.header a {
  color: #fff;
}

.stripe {
  padding: 0 15px;
}

.stripe__text {
  margin-top: 45px;
  color: #ffffff;
}

.stripe__text .heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.stripe__text .heading--small {
  font-weight: normal;
  font-size: 15px;
  color: #C1CFDC;
}

.stripe__button {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.stripe__button .btn {
  padding: 0 30px;
  line-height: 40px;
  font-size: 13px;
  width: 100%;
}

.navigation {
  list-style: none;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.navigation__link {
  float: right;
  margin: 0px 10px;
}

.navigation__link:hover {
  border-bottom: 1px solid #fff;
}

@media (min-width: 1050px) {
  .header {
    margin-bottom: 30px;
  }

  .stripe, .header__blog {
    padding-left: 0;
    padding-right: 0;
  }

  .header__blog {
    margin-top: 50px;
  }

  .header__blog__button {
    float: right;
  }

  .header__blog__logo {
    float: left;
    margin-bottom: 0px;
  }

  .header {
    display: block;
  }

  .footer {
    display: none;
    margin-top: 0px;
  }

  .stripe__button {
    width: auto;
    margin-top: 49px;
    float: right;
  }

  .stripe__text {
    float: left;
  }
}
