.header {
  padding-left: 0;
  padding-right: 0;
}

.header__blog {
  padding: 0 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.header__blog__logo {
  margin-bottom: 15px;
}

.footer {
  display: block;
  margin-top: -35px;
}

.header .stripe {
  height: 140px;
  background-color: #21558f;
}

.header a {
  color: #fff;
}

.stripe {
  padding: 0 15px;
}

.stripe__text {
  margin-top: 45px;
  color: #ffffff;
}

.stripe__text .heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.stripe__text .heading--small {
  font-weight: normal;
  font-size: 15px;
  color: #C1CFDC;
}

.stripe__button {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.stripe__button .btn {
  padding: 0 30px;
  line-height: 40px;
  font-size: 13px;
  width: 100%;
}

.navigation {
  list-style: none;
  font-size: 20px;
  margin-bottom: 0px;
  width: 600px;
  margin-left: 0px;
  padding-left: 0px;
  margin: 0 auto;
  float: none;
  margin-top: 15px;
}

.navigation__link {
  float: right;
  margin: 0px 10px;
}

.navigation__link a {
  border: 1px solid #21558f;
  padding: 5px;
  border-radius: 5px;
}

.navigation__link a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.navigation__link.active a {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
}

.header__blog__logo {
  float: none;
  margin-bottom: 0px;
}

@media (min-width: 800px) {
  .header {
    margin-bottom: 30px;
  }


  .header .stripe {
    height: 200px;
  }

  .stripe, .header__blog {
    padding-left: 0;
    padding-right: 0;
  }

  .header__blog {
    margin-top: 50px;
  }

  .header__blog__button {
    float: right;
  }

  .header__blog__logo {
    float: left;
    margin-bottom: 0px;
  }

  .header {
    display: block;
  }

  .navigation {
    float: right;
    margin-top: 50px;
  }

  .stripe__button {
    width: auto;
    margin-top: 49px;
    float: right;
  }

  .stripe__text {
    float: left;
  }
}
