.pagination {
  padding-left: 14px;
  padding-right: 14px;
  width: 210px;
  margin: 0 auto;
  margin-top: 15px;
}

/* Desktop  */

@media (min-width: 720px) {
  .pagination {
    margin-top: 0px;
  }
}
