.stripe {
  min-width: auto;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
  margin-top: 60px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 30px;
}

.hero .summary {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.hero .links {
  display: flex;
  margin: 30px auto 0px auto;
  max-width: 500px;
}

.hero .links .social {
  margin: 0 auto;
}

.thirds-container {
  float:left;
  margin-bottom: 20px;
}

.thirds-inner {
  margin: 0px 10px;
}

.thirds-inner h2 {
  margin-top: 0px;
}

.our-sponsors {
}

.sponsor-image-row {
  text-align: center;
  width:100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.sponsor-image-mini-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sponsor-image-row {
  img {
    max-height: 50px;
    max-width: 140px;
    vertical-align: top;
  }
  img.big {
    max-height: 60px;
    max-width: 180px;
  }
  img + img {
    margin-left: 10px;
  }
}

@media (min-width: 800px) {
  .header__blog__logo {
    float: left;
  }

  .stripe {
    min-width: 1000px;
  }

  .main {
    margin-top: -90px;
  }

  .thirds-container {
    width 33%;
    border-right: 1px solid #e4e4e4;
    margin-bottom: 0px;
    min-height: 250px;
  }

  .thirds-container.two-thirds {
    width: 66.7%;
  }

  .thirds-container.last-item {
    border-right: none;
  }
}
