.links {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.social {
  display: inline;
}

.twitter-follow-button {
  width: 250px;
}

.facebook-follow-button {
  width: 140px;
}

iframe .timeline-footer {
  display: none !important;
}
