.sponsor-image-cell, .sponsor-info-cell {
  vertical-align: top;
}

.sponsor-image-cell {
  width: 30%;
  padding: 5px 10px 20px 10px;
}

.sponsor-info-cell {
  width: 70%;
  padding: 0px 10px 20px 10px;
}

.sponsor-image-cell {
  text-align: right;
}

.sponsor-info-cell {
  padding-left: 15px;
}

.sponsor-image {
  max-height: 100px
}

.sponsor-name {
  font-weight: bold;
  font-size: 24px;
}

.sponsor-info {
}
