<div class="post">

  {% if post.author %}
  {% assign author = site.authors[post.author] %}
  {% if author %}
  <div class="post__author">
    <div class="post__author__avatar">
      <a href="{{site.baseurl}}/authors/{{ post.author }}.html">
        <img src="{{site.gravatar_url}}{{ author.gravatar }}?s=200" alt="{{ author.name }}" class="u-circle u-circle-shadowed" height="80" width="80">
      </a>
    </div>
  </div>
  {% endif %}
  {% endif %}


  {% if index %}
  <a href="{{ site.baseurl }}{{ post.url }}" class="post-title-link">
    <h1>{{ post.title }}</h1>
  </a>
  {% else %}
  <h1 class=post-title-link>{{ post.title }}</h1>
  {% endif %}

  <div class="post__subtitle">
    <a href="{{site.baseurl}}/authors/{{ post.author }}.html" class="post__author__name">
      {{ author.name }}
    </a>
    in
    {{ post.tags | tag_links }}
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="post__date">
      {{ post.date | date: "%B %d, %Y" }}
    </time>
  </div>

  {% if index %}
  <a href="{{ site.baseurl }}{{ post.url }}" class="post-content-link">
  {{ content }}
  </a>
  {% else %}
  {{ content }}
  {% endif %}

  {% unless index %}
    {% if post.cta %}
      <div class="post__cta">
        <p class="post__cta__tagline">
          {{ post.cta.tagline }}
        </p>

        <div class="post__cta__button">
          <a href="{{ post.cta.linkurl }}" class="btn">
            {% if post.cta.linktext %}
              {{ post.cta.linktext }}
            {% else %}
              Find out more
            {% endif %}
          </a>
        </div>
      </div>
    {% endif %}
  {% endunless %}
</div>

<footer class="u-cf post__footer">
</footer>
