//- doctype html

//- html
//-   head
//-     meta(http-equiv='refresh', content='0;url=https://docs.google.com/forms/d/1fPzKULzvj1_Z4vY4K-R3VVRFsLDD0Z0iFBepDMp80bI/viewform')

extends ../../page

block post
  include ../../event-list

  //- filter out sss events and order from earliest
  - var events = _.chain(events).filter(function(item) {
  -   return item.url.match(/sss/);
  - }).reverse().value()

  h1 Sign up for Startup Speaker Series

  each event in events
    article.upcoming-event
      .upcoming-event__date #{ moment(event.date).format('D MMMM YYYY') }
      .upcoming-event__location= event.location
      .upcoming-event__info
        a(href=event.signup, alt=event.title)= event.title
  .u-cf
