extends layout

block content
  .post.post--full
    h2 This isn't the page you're looking for...
    img(src="/img/404.jpg", alt="http://theprofoundprogrammer.com/", title="Courtesy of http://theprofoundprogrammer.com/")
    p
      | I'm as helpless as you are, maybe
      | &nbsp;
      a(href="/blog") read something from our blog
      | ?
