extends page

block post
  include author
  h1 Imperial Department of Computing Society (DoCSoc)
  .address
    .map
      <!--<iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;geocode=&amp;q=&amp;aq=&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=51.498658,-0.179429&amp;t=m&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>-->
    p The Department of Computing can be found at:
    address(style='white-space:pre;').address
      | Huxley Building
      | 180 Queen’s Gate
      | London SW7 2RH
  .u-cf

  h2 Information For Students
  p As the social bit of the Department of Computing, DoCSoc make it our mission to prove that all those long hours spent in labs are worth it after all! Honest!
  p To keep you on your toes, we run tech talks and visits to industry - for example, last year we visited Amazon's development centre here in London, and had a series of talks from startup founders and developers. There's also, of course, our famous yearly hackathon, ICHack, where the best developers from Imperial and beyond gather to build some really, really cool tech, all in 24 hours.
  p It's not all about ones and zeroes, though! This year we went ice skating, ran a cinema night (Hackers, obviously) and, of course, our ever-popular bar night over in the Union.
  p DoCSoc is run by DoC students, for DoC students (and for anyone interested in computing!), all to make your time at Imperial as enjoyable and rewarding as we can. Get involved!
  p We're all here for your benefit so come and talk to your reps and the DoCSoc committee and let us know what we can do for you!
  p
    b To get in touch, please send an email to 
    a(href="mailto: docsoc@imperial.ac.uk") docsoc@imperial.ac.uk
    
  h2 Who are we?
  ul#whoarewe
    each person in locals.committee
      mixin author_bio(person)
  .u-cf