extends page

block post
  h1 Imperial Department of Computing Society (DoCSoc)
  .address
    .map
      <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;geocode=&amp;q=&amp;aq=&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=51.498658,-0.179429&amp;t=m&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
    p The Department of Computing can be found at:
    address(style='white-space:pre;').address
      | Huxley Building
      | 180 Queen’s Gate
      | London SW7
  .u-cf

  h2 Information For Students:
  p If you're studying Computing or JMC, congratulations! You're now automatically a member of DoCSoc - Imperial's computing society.
  p In short, DoCSoc works together with both department and our industry sponsors to make your experience at Imperial as awesome as possible!
  p Previous social events have included bar nights, paintballing, hackathons, go karting, pub-crawls, formal dinners ( the list goes on and on), all of which help relieve that academicstress and build your network of peers and friends.
  p Whilst we work hard on the social side, we also want to build those all important contacts and industry experience. We work hard to bring you and them together, arranging awesome trips, talks and informal networking sessions with tech industry leaders and our great <a href="/sponsors">sponsors</a> - Google, Microsoft, Facebook, Amazon, ARM, Skype, Credit Suisse, Deutsche Bank, Goldman Sachs (you get the idea, it's a pretty long list...).
  p We're all here for your benefit so come and talk to your reps and the DoCSoc committee and let us know what we can do for you!
  p
    b To get in touch, please send an email to <a href="mailto: docsoc@imperial.ac.uk">docsoc@imperial.ac.uk</a>

  h2 Information For Companies
  p If you skim the student information above, you'll see we offer a lot to our students. However this wouldn't be possible without the support we receive from industry.
  p Whilst we do occasionally do one off events for speakers or companies who don't sponsor us, preference is always given to those who support us directly and we always welcome new partnerships and opportunities.
  p To read more about sponsorship of the society, including, our current and previous sponsors, see the <a href="/sponsors">sponsorship page</a>
  p
    b To contact us directly, please <a href="mailto: docsoc@imperial.ac.uk">send us an email</a>
