
extends layout

block content
  != page.html

  section#content
    article.post
      include article-list
      //- print out list of articles
      table.table.table-striped
        thead
          tr
            th(style='text-align: right; min-width: 6em') date
            th article
        tbody
          each article in articles
            tr
              td(style='text-align:right')
                = moment(article.date).format('DD MMM YYYY')
              td
                a(href=article.url)= article.metadata.title
