doctype html

html(lang='en')
  head
    title Codecon
    meta(http-equiv='refresh', content='2; url=https://bloomberg.recsolucampus.com/exeventreg.php?file=CampusList&event_loc_id=1981&eventid=3589')
    script(type='text/javascript').
       window.location.href = "https://bloomberg.recsolucampus.com/exeventreg.php?file=CampusList&event_loc_id=1981&eventid=3589"
