extends layout

block logo
  // don't display navbar logo

block content
  .hero-unit
    h1 IT Consulting
    h2 Completed, correctly.
    p My eponymous company practices process driven IT consulting for organizations. Experience and quality begets efficiency and I deliver all three to my clients. I build elegant, robust, and rigorously tested virtualization and directory solutions using a process that I have iterated and honed for over 15 years.


  h1 Phased Project Approach
  | Through my years as a consultant I have honed a project approach that is carried out in distinct, linear phases.  These phases call out specific milestones that are marked by deliverables.  Deliverables can take the form of documents, functional systems, or accomplishments.  At the conclusion of each project phase, success will be measured and evaluated by each party.  Sometimes, the conclusion of a phase is the appropriate time to adjust the project deliverables, or even its goals and scope.
  br
  br

  table.table.table-striped
    tr
      td.span1
      td
        h3 Phase 1: Discover
        | The first phase of solution delivery, this initiation phase is critical in establishing baseline expectations, environmental details, operational challenges and determining project success criteria.  This phase includes network and environmental discovery, wherein many of the assumptions made during the proposal process may be validated, representing an opportunity to mitigate concerns early before the project progresses any further.
    tr
      td
      td
        h3 Phase 2: Design and Plan
        | Following the discovery phase, the design and planning phase serves to map out the remainder of the project and further develop the high-level design presented during the proposal process.  The core project documentation is drafted, including Project Plan, Design, Implementation Plan, and Test Documents. Collaborative design sessions allow our team to work closely with your IT operations and management staff, facilitating a reciprocal exchange as all design aspects are thoroughly discussed and determined.
    tr
      td
      td
        h3 Phase 3: Test
        | Build the lab environment and test it against Test and Implementation Procedures. Build the pilot environment and test it against Implementation Procedures, User Experience, and Success Criteria. Revise Project Plan and Documentation against lessons learned.
    tr
      td
      td
        h3 Phase 4: Implement
        | Measure three times, cut once. You might notice that it seems like most of the work is done before the Implementation Phase. That is true. I believe you will be more efficient in the long run by being deliberate and careful in planning and testing before you take action.
    tr
      td
      td
        h3 Phase 5: Wrap Up
        | The environment is supported as needed. Documentation is revised as necessary. Final Knowledge Transfer is performed. Project debrief is held with lessons learned and outstanding issues recorded.
  br
  h1 Subject Matter Expertise
  | These are the key technologies I have used to help my clients.
  br
  br
  table.table.table-striped
    tr
      td.span1
      td(style='width: 300px;')
        h3 Server Virtualization
      td
        | VMware VI and vSphere, Citrix XenServer, Microsoft Hyper-V
    tr
      td
      td
        h3 Application Virtualization
      td
        | Citrix XenApp, XenDesktop; Microsoft Windows Remote Desktop, App-V, System Center Configuration Manager
    tr
      td
      td
        h3 Storage Virtualization
      td
        | EMC Clariion, VNX, Data Domain, RecoverPoint; Compellent Storage
    tr
      td
      td
        h3 Directory Systems
      td
        | Microsoft Active Directory, Connector, Migration Tool, Federation Services
    tr
      td
      td
        h3 Unified Communications
      td
        | Microsoft Exchange, Office Communications Server, and SIP
    tr
      td
      td
        h3 Network and Security
      td
        | Citrix NetScaler/Access Gateway; Cisco IOS, ASA; Brocade; McData; Juniper; Microsoft ISA, TMG, UAG
    tr
      td
      td
        h3 Server Infrastructure
      td
        | Microsoft Windows, Linux, Microsoft Cluster Services, Microsoft SQL Server
    tr
      td
      td
        h3 Application Development
      td
        | Ruby, JavaScript, C, Objective-C, Unix Shell, DOS, PowerShell, VBScript
    tr
      td
      td
        h3 Datacenter Architecture
      td
        | Design, build, migration, and consolidation; Business Continuity and Disaster Recovery
  br
  br
