// document meta
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
//- meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content=locals.description)
meta(name='author', content=locals.name)

// xml feed
//- link(rel='alternate', href='//feeds.feedburner.com/mnewt', type='application/rss+xml', title=locals.description)

// HTML5 shim, for IE 6-8 support of HTML elements
//if lt IE 9
  script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Vollkorn')

link(rel='stylesheet', href='/style/normalize.css')
link(rel='stylesheet', href='/style/style.css')
//- link(rel='stylesheet', href='//yandex.st/highlightjs/7.3/styles/tomorrow.min.css')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
