doctype html

html(lang='en')
  head
    title Join DoCSoc
    meta(http-equiv='refresh', content='2; url=https://www.imperialcollegeunion.org/activities/a-to-z/605')
    script(type='text/javascript').
       window.location.href = "https://www.imperialcollegeunion.org/activities/a-to-z/605"
