doctype html

html(lang='en')
  head
    title Mums and Dads
    meta(http-equiv='refresh', content='2; url=https://docs.google.com/forms/d/e/1FAIpQLSff6mfEbM2Nr779Rd7A9wud1aL33FJ13h8YbXwjqYxv77r7Mg/viewform')
    script(type='text/javascript').
       window.location.href = "https://docs.google.com/forms/d/e/1FAIpQLSff6mfEbM2Nr779Rd7A9wud1aL33FJ13h8YbXwjqYxv77r7Mg/viewform"
