doctype html

html(lang='en')
  head
    title DoCSoc Operations
    meta(http-equiv='refresh', content='2; url=https://www.facebook.com/groups/1509850436007222/')
    script(type='text/javascript').
       window.location.href = "https://www.facebook.com/groups/1509850436007222/"
