extends page

block post
  h1 Our Sponsors
  p DoCSoc offers a lot to our students but this wouldn't be possible without the support we receive from industry.
  p Whilst we do occasionally do one off events for speakers or companies, preference is always given to those who support us directly and we always welcome new partnerships and opportunities.
  //- p You can see our current sponsors below.
  p: i interested in sponsoring the society? <a href="mailto: docsoc@imperial.ac.uk">send us an email<a>

  //- table.table
  //-   tr
  //-     td.sponsor-image
  //-       img(src='/img/sponsors/amazon_logo.png')
  //-     td.sponsor-info
  //-       | Amazon Information
