extends page

block post
  h1 Sponsorship
  p DoCSoc offers a lot to our students but this wouldn't be possible without the support we receive from industry.
  p In return, companies gain access to over 600 active computing students via networking sessions, emails, job advertisements and more.
  p Whilst we do occasionally do one off events for speakers or companies, preference is always given to those who support us directly and we always welcome new partnerships and opportunities.
  p: i interested in sponsoring the society? <a href="mailto: docsoc@imperial.ac.uk">send us an email</a>

  h2 Current Sponsors

  table.table

    tr
      td.sponsor-image-cell
        img(src='/img/sponsors/deutsche_bank_logo.png').sponsor-image
      td.sponsor-info-cell
        .sponsor-name Deutsche Bank
        .sponsor-info
          p A Passion to Perform. It’s what drives us. More than a claim, this describes the way we do business.
          p We compete to be the leading global provider of financial services, balancing passion with precision to deliver superior solutions for our clients. This is made possible by our people: agile minds, able to see beyond the obvious act effectively in an ever-changing global business landscape. As you’ll discover, our culture supports this.
          p Diverse international and shaped by a variety of different perspectives, we’re driven by a shared sense of purpose. At every level agile minds are rewarded with competitive pay, support and the opportunity to excel.

    tr
      td.sponsor-image-cell
        img(src='/img/sponsors/g-research_logo.png').sponsor-image
      td.sponsor-info-cell
        .sponsor-name G-Research
        .sponsor-info
          p G-RESEARCH is a fast growing, London based technology business seeking talented, motivated students to join our software development and IT systems teams.
          p We are focussed on achieving the best combinations of technology and trading ideas to develop innovative technical solutions for use in real-time algorithmic trading, using some of the most complex and challenging systems in the industry.
          p The working environment is positive and informal; there is no dress code rather people are judged on the quality of their work.
          p Good ideas are encouraged, recognised and rewarded from all employees.

    tr
      td.sponsor-image-cell
        img(src='/img/sponsors/amazon_logo.png').sponsor-image
      td.sponsor-info-cell
        .sponsor-name Amazon
        .sponsor-info
          | Coming Soon.

    tr
      td.sponsor-image-cell
        img(src='/img/sponsors/credit_suisse_logo.png').sponsor-image
      td.sponsor-info-cell
        .sponsor-name Credit Suisse
        .sponsor-info
          p Coming soon.

  p: i Interested in joining them? <a href="mailto: docsoc@imperial.ac.uk">send us an email</a>
