extends page

block post
  h1 Sponsorship
  p DoCSoc offers a lot to our students but this wouldn't be possible without the support we receive from industry.
  p In return, companies gain access to over 700 active computing students via a variety of events,  sessions, emails, job advertisements and more.
  p Whilst we do occasionally do one off non-career events for speakers or companies, preference is always given to those who support us directly and we always welcome new partnerships and opportunities.
  p.sponsor-attention DoCSoc is currently looking for sponsors!
  p Download our 
    a(href="/files/information_for_sponsors.pdf") sponsors information package 2014-2015
    |.
  p Interested in sponsoring the society? 
    a(href="mailto: docsoc@imperial.ac.uk") send us an email
    |.

  //- h2 Current Sponsors

  //- .sponsors-table

  //-   //- .sponsors-row
  //-   //-   .sponsor-image-cell
  //-   //-   .sponsor-info-cell
  //-   //-     .sponsor-name
  //-   //-     .sponsor-info

  //- .clearboth