extends page

block post
  h1 Sponsorship
  p DoCSoc offers a lot to our students but this wouldn't be possible without the support we receive from industry.
  p In return, companies gain access to over 700 active computing students via a variety of events,  sessions, emails, job advertisements and more.
  p Whilst we do occasionally do one off non-career events for speakers or companies, preference is always given to those who support us directly and we always welcome new partnerships and opportunities.
  p.sponsor-attention DoCSoc has stopped accepting additional sponsors for this year!
  p If you would like to sponsor the society next year, please contact us when we begin considering new applications in July 2015.

  h2 Current Sponsors

  .sponsor-table

    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/amazon_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Amazon
        .sponsor-info
          p Gold Sponsor

    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/g-research_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name G-Research
        .sponsor-info
          p Gold Sponsor

    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/microsoft_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Microsoft
        .sponsor-info
          p Gold Sponsor

    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/credit_suisse_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Credit Suisse
        .sponsor-info
          h2 Silver Sponsor
          p Credit Suisse is a global financial services company providing a broad range of advisory services, comprehensive solutions and excellent products through two global divisions, Private Banking & Wealth Management and Investment Banking. We serve companies, institutions and private clients around the world.  As a stable company with a long banking tradition, we are one of the most respected banks in the world, recognized by industry publications for our continued excellence and leading position in many key markets around the world.
 
          p Credit Suisse is active in more than 50 countries and employs over 46,000 people.  Since our founding in 1856, we have continuously set new standards in service and advice, and created intelligent solutions in response to changing client needs. We are renowned for our expertise and valued for our advice, innovation and execution.  
 
          p We offer entry-level programs in a variety of business areas. Our programs give you the chance to make a difference from day one, and provide world-class training and support to help you to develop into a future business leader.  Whichever program you choose, you’ll contribute to projects that have a significant impact on our business, while building your own expertise. And throughout your career with us, you will benefit from cross-business and international mobility opportunities. 
 
          p We look for people with a wide range of experiences, interests and degrees who will add fresh perspectives to our business. Our vision is to become the world’s most admired bank. A career with us means that you can help shape our future.

    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/go_cardless_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Go Cardless
        .sponsor-info
          p Silver Sponsor

    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/schlumberger_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Schlumberger
        .sponsor-info
          p Silver Sponsor

    .clearboth

