extends page

block post
  h1 Sponsorship
  p DoCSoc offers a lot to our students but this wouldn't be possible without the support we receive from industry.
  p In return, companies gain access to over 600 active computing students via networking sessions, emails, job advertisements and more.
  p Whilst we do occasionally do one off events for speakers or companies, preference is always given to those who support us directly and we always welcome new partnerships and opportunities.
  p: i interested in sponsoring the society? <a href="mailto: docsoc@imperial.ac.uk">send us an email</a>

  h2 Current Sponsors

  .sponsors-table

    .sponsors-row
      .sponsor-image-cell
        img(src='/img/sponsors/accenture_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Accenture
        .sponsor-info
          p Coming soon.

    .sponsors-row
      .sponsor-image-cell
        img(src='/img/sponsors/g-research_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name G-Research
        .sponsor-info
          p G-RESEARCH is a fast growing, London based technology business seeking talented, motivated students to join our software development and IT systems teams.
          p We are focussed on achieving the best combinations of technology and trading ideas to develop innovative technical solutions for use in real-time algorithmic trading, using some of the most complex and challenging systems in the industry.
          p The working environment is positive and informal; there is no dress code rather people are judged on the quality of their work.
          p Good ideas are encouraged, recognised and rewarded from all employees.

    .sponsors-row
      .sponsor-image-cell
        img(src='/img/sponsors/amazon_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Amazon
        .sponsor-info
          | Coming Soon.

    .sponsors-row
      .sponsor-image-cell
        img(src='/img/sponsors/credit_suisse_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Credit Suisse
        .sponsor-info
          p Coming soon.

  .clearboth

  p: i Interested in joining them? <a href="mailto: docsoc@imperial.ac.uk">send us an email</a>
