extends layout

block content
  h1 Projects
  br
  table.table.table-striped
    tr
      td.td-date
        | since 2004
      td
        h3 Matthew Sojourner Newton Consulting LLC
        p
          | Delivers method-driven consulting to organizations via a variety of high profile, challenging projects building infrastructure, directory, mail, web, and security systems.
        img(src='MSNC3.png')
        //- img(src='MSNC2.png')
        img(src='MSNC1.png')
    tr
      td.td-date
        | August 2012
      td
        h3 Prettify Wrapper
        p
          | Providing the easiest to use automatic, embedded syntax highlighting system on the web, Prettify Wrapper wraps Google Code Prettify into a nice little bow for easy inclusion into any website or blog.
        img(src='GCPW1.png')
        img(src='GCPW2.png')
        img(src='GCPW3.png')
    tr
      td.td-date
        | June 2011
      td
        h3 Storage, Infrastructure, Directory, and Email
        p
          | Designed and Deployed all new core IT services. Deployed EMC VNX Storage, VMware vSphere, Active Directory 2008 R2, and Exchange 2010 across worldwide eight sites.
        img(src='SIDM1.png')
        img(src='SIDM2.png')
