extends page

block post
  h1 Sponsorship
  p DoCSoc offers a lot to our students but this wouldn't be possible without the support we receive from industry.
  p In return, companies gain access to over 700 active computing students via a variety of events,  sessions, emails, job advertisements and more.
  p Whilst we do occasionally do one off non-career events for speakers or companies, preference is always given to those who support us directly and we always welcome new partnerships and opportunities.
  p.sponsor-attention DoCSoc has filled its capacity for Bespoke, Gold and Silver tier sponsorship for 2015-16, but we still have capacity for additional bronze sponsors.
  p If you would like to sponsor the society,
    | &nbsp;
    a(href="mailto:docsoc@imperial.ac.uk") say hi!


  h2 Current Sponsors

  .sponsor-table
  
    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/microsoft_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Microsoft
        .sponsor-info
          h2 Bespoke Sponsor
        //p

    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/amazon_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Amazon
        .sponsor-info
          h2 Gold Sponsor

    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/newvoicemedia_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name NewVoiceMedia
        .sponsor-info
          h2 Gold Sponsor

    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/palantir_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Palantir
        .sponsor-info
          h2 Gold Sponsor
          
    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/bloomberg_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Bloomberg
        .sponsor-info
          h2 Silver Sponsor
          
    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/deutsche_bank_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Deutsche Bank
        .sponsor-info
          h2 Silver Sponsor
          
    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/g_research_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name G-Research
        .sponsor-info
          h2 Silver Sponsor
          
    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/go_cardless_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Go Cardless
        .sponsor-info
          h2 Silver Sponsor
    
    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/netcraft_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name Netcraft
        .sponsor-info
          h2 Silver Sponsor
          
    .sponsor-row
      .sponsor-image-cell
        img(src='/img/sponsors/blackrock_logo.png').sponsor-image
      .sponsor-info-cell
        .sponsor-name BlackRock
        .sponsor-info
          h2 Bronze Sponsor


    .clearboth

