/* ==========================================================================
   Typography utilities
   ========================================================================== */

.u-text-center {
  text-align: center;
}
